*{
    margin: 0px;
    padding: 0px;
}
body{
 background-image: url(https://media.istockphoto.com/vectors/easter-bunny-sign-vector-id467842254?k=6&m=467842254&s=612x612&w=0&h=v0EaB_nRwO4n5exH9H4bZB6p-QUteSzcJjd7uXtC6dQ=);
 
}
nav{
    /* border-style: solid; */
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-family: 'Pacifico', cursive;
  
  }
  a{
    text-decoration: none;}


